# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual env
.venv/
venv/

# OS / editor
.DS_Store
.vscode/
.idea/

# Git
.git/
.gitignore

# Notebooks / extras
*.ipynb

# Model artifacts locales (opcional)
# model.joblib
